/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
html, body {
  max-width: 100%;
  overflow-x: hidden;
}
html {
  font-size: 100%;
}
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h1 {
  font-family: 'Lato', sans-serif;
  font-size: 49px;
  font-weight: 700;
  line-height: 55px;
}
h2 {
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  font-weight: 700;
  line-height: 35px;
}
h3 {
  font-family: 'Lato', sans-serif;
  font-size: 13px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ff546c;
}
h4 {
  color: orange;
  text-transform: uppercase;
}
p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 18px;
  color: #8b8cb3;
}
#header-nav ul {
  margin: 0;
}
#header-nav li {
  list-style: none;
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-family: 'Lato', sans-serif;
}
#header-nav li a {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
}
#header-nav li a:hover {
  cursor: pointer;
  font-weight: 700;
  color: #ffd200;
}
.section-wrap {
  padding: 0 14px;
  width: 90%;
  margin: 0 auto;
}
#header-logo, #header-nav {
  display: inline-block;
  height: auto;
  padding: 30px 0;
}
#portfolio {
  display: inline-block;
  width: 100%;
  padding: 240px 0;
  background: #0d0c4c url("../img/photo.jpg");
  background-size: cover;
}
#portfolio h1, #portfolio h2 {
  color: #fff;
}
#portfolio-container {
  margin-top: 40px;
}
#work {
  display: inline-block;
  width: 100%;
  padding: 140px 0;
  background: #110e62;
}
#work .flex-grid {
  display: flex;
}
#work .col {
  flex: 1;
  margin: 0 10px;
}
#work img {
  max-width: 100%;
  -webkit-box-shadow: 1px, 5px, 8px, 2px #0d0c4c;
  box-shadow: 1px, 5px, 8px, 2px #0d0c4c;
  transition: all .2s ease-and-out;
}
#work img:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transform-origin: 50% 50%;
}
#work h2 {
  color: white;
}
#work-container {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
}
#work-container a {
  text-decoration: none;
}
footer {
  display: inline-block;
  width: 100%;
  padding: 80px 0;
  background: #0d0c4c;
}
.footer-text {
  padding-right: 30%;
}
.footer-row {
  display: inline-block;
  width: 100%;
}
.footer-row input, .footer-row select, .footer-row textarea {
  display: inline-block;
  width: 45%;
  margin: 0 15px 15px 0;
  padding-left: 10px;
  border-radius: 0px;
  background: none;
  height: 40px;
  border: none;
  border-bottom: 1px solid;
  font-size: 18px;
  color: #ffff;
}
::placeholder {
  color: #fff;
}
.footer-row textarea {
  width: 92%;
  height: 100px;
}
.footer-row select {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
	box-sizing: content-box;
  border-radius: 0;
}
.footer-row button {
  font-size: 18px;
  font-weight: 400;
  background: none;
  border: 2px solid;
  color: #fff;
  cursor: pointer;
  height: 50px;
  width: 22.5%;
  border-radius: 50px;
}
.footer-row button:hover {
  background: #ffd200;
  border: none;
}
#contact h2 {
  color: #fff;
}
.footer-row select option {
  background: #0d0c4c;
}
#contact .flex-grid {
  display: flex;
}
#contact .col {
  flex: 1;
}
#contact .col-2 {
  flex: 2;
  margin-top: 20px;
  margin-bottom: 20px;
}